<%- include('partials/header.ejs') %>

    <body>
        <header>
            <%- include('partials/home-navbar.ejs') %>
        </header>


        <div class="container">

            <div class="col-sm">
                <div class="card text-center text-dark bg-light m-2">

                    <div class="card-body">

                        <h5 class="card-title bg-primary text-light p-1">
                            <%= article.title %>
                        </h5>

                        <p class="card-text">
                            <%- article.body %>
                        </p>

                    </div>
                </div>
            </div>
        </div>

    </body>

    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>

    </html>